:root {
    --bg-primary: #1b64d1;
    --bg-primary-hover: #164c9e;
    --color-primary: #ffffff;

    --bg-danger: #d11b33;
    --bg-danger-hover: #a51629;
    --color-danger: #ffffff;
}

html,
body {
    font-family: "Noto Sans TC", sans-serif;
}

.header {
    margin: 10px auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header img {
    max-width: 60px;
}

.input-wrap {
    margin: 10px auto;
}


.form-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin-bottom: 10px;
}

.form-item label {
    font-weight: 400;
    font-size: 1.1rem;
}

.form-item input[type="text"] {
    height: 50px;
    padding: 0 15px;
    font-size: 1.5rem;
    border: 0;
    box-shadow: inset 0 0 1px 1px #506effee;
    outline: none;
    border-radius: 4px;
}

.form-item input[type="text"]:focus {
    box-shadow: inset 0 0 2px 2px #506effee;
}

.form-button {
    text-align: right;
}

.btn {
    padding: 10px 20px;
    border: 0;
    background: #dedede;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.btn:hover,
.btn.active {
    background: #c4c4c4;
}

.btn.primary {
    background: var(--bg-primary);
    color: var(--color-primary);
}

.btn.primary:hover,
.btn.primary.active {
    background: var(--bg-primary-hover);
}

.btn.danger {
    background: var(--bg-danger);
    color: var(--color-danger);
}

.btn.danger:hover,
.btn.danger.active {
    background: var(--bg-danger-hover);
}

.data-wrap {
    margin: 10px auto;
}

.data-container {
    border: 1px solid #dedede;
    padding: 10px;
    min-height: 300px;
}

#todo-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.todo-item {
    padding: 10px;
    background: var(--bg-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.todo-item.checked {
    background: var(--bg-danger);
    color: var(--color-danger);
}

.todo-item.checked:hover {
    background: var(--bg-danger-hover);
}

.todo-item:hover {
    background: var(--bg-primary-hover);
}

.todo-checkbox {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border: 1px solid #dedede;
    background: #ffffff;
    border-radius: 2px;
    position: relative;
}

.todo-checkbox::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--bg-danger);
    border-radius: 2px;
    top: 1px;
    opacity: 0;
    transition-duration: 0.2s;
}

.todo-checkbox.active::after {
    opacity: 1;
}

@media screen and (max-width: 650px) {
    #todo-data {
        grid-template-columns: 1fr;
    }
}