[v-cloak] {
    display: none;
}

body {
    font-family: "Noto Sans TC", sans-serif;
}

.header {
    background: #5f5f5f;
    color: #fff;
    padding: 15px;
    margin: 15px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hd-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabs-name {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
    font-weight: 600;
}

.tabs-name a {
    display: block;
    padding: 5px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* background: #dedede; */
    transition: 0.3s;
}

.tabs-name li:hover a,
.tabs-name li.active a {
    background: rgb(28, 97, 201);
    color: #fff;
}

.tabs-content>li {
    display: none;
}

.tabs-content>li.active {
    display: block;
}

.switch-component-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    user-select: none;
    /* 禁止選取 */
}

.switch-component {
    display: flex;
    align-items: center;
    width: 70px;
    background: #969696;
    height: 30px;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.switch-component.active {
    background: #2bb587;
}

.switch-component::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 100px;
    transition: 0.3s;
}

.switch-component.active::after {
    left: calc(100% - 24px - 2px);
}

.accrodion-component {
    margin: 10px auto;
}

.accrodion-name {
    padding: 15px;
    background: #1871c4;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.accrodion-content {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}

.accrodion-component.active .accrodion-name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accrodion-component.active .accrodion-content {
    height: 100%;
    padding: 15px;
    border: 1px solid #1871c4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 1;
}

.top-banner-setting {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.input-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin-bottom: 15px;
}

.input-control {
    width: 100%;
    height: 40px;
    outline: 0;
    border: 0;
    box-shadow: inset 0 0 2px 1px #1e7eab;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 1.1rem;
}

textarea.input-control {
    padding: 15px;
    height: 122px;
    resize: none;
}

.banner-link-setting {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.banner-datetime {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.top-banner-image {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.image-select {
    width: 100%;
    height: 207px;
    border: 2px dashed #949494;
    cursor: pointer;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.image-select::after {
    content: "SELECT";
    color: #9b9b9b;
}

.item-enable-wrap {
    display: flex;
    justify-content: flex-end;
}

.tabs-fn {
    display: flex;
    justify-content: flex-end;
    margin: 20px auto;
}

.tabs-fn button {
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background: #17a599;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.3s;
}

.tabs-fn button:hover {
    background: #0f6e66;
}

@media screen and (max-width:800px) {
    .top-banner-setting {
        grid-template-columns: 1fr;
    }
}